:local .character {
  background: #1D2021;
}

:local .imageContainer {
  position: relative;
  overflow: hidden;
}

:local .imageContainer::before {
  content: url('data:image/svg+xml, <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"></svg>');
  width: 100%;
}

:local .image {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

:local .name {
  font-size: 1.875em;
  font-weight: bold;
  margin: 0;
}

:local .stats {
  font-size: 1.25em;
  margin: 0;
}

:local .stat {
  margin-right: 1rem;
}

:local .speed {
  color: #767676;
}

:local .ac {
  color: #1779ba;
}

:local .healthy {
  color: #3adb76;
}

:local .bloodied {
  color: #ffae00;
}

:local .critical {
  color: #cc4b37;
}

:local .statVal {
  margin-left: 0.3rem;
}

:local .conditions {
  color: #cc4b37;
}
