:local .character {
  background: #1D2021;
  overflow: hidden;
}

:local .imageContainer {
  width: 100%;
  display: block;
}

:local .nameAndStats {
  padding: 0.5rem 0.5rem 0 1rem;
  line-height: 1em;
  overflow: hidden;
}

:local .name {
  font-weight: bold;
  font-size: 1.2em;
}

:local .stat {
  margin-right: 1rem;
}

:local .speed {
  color: #767676;
}

:local .ac {
  color: #1779ba;
}

:local .healthy {
  color: #3adb76;
}

:local .bloodied {
  color: #ffae00;
}

:local .critical {
  color: #cc4b37;
}

:local .statVal {
  margin-left: 0.3rem;
}

:local .topNotes,
:local .conditions {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local .topNotes {
  color: #8a8a8a;
}

:local .conditions {
  color: #cc4b37;
}

:local .bottomNotes {
  position: relative;
  padding-bottom: 1rem;
  display: none;
}

:local .bottomNotes::after {
  content: ' ';
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 3rem;
  background: -moz-linear-gradient(top, rgba(29,32,33,0) 0%, rgba(29,32,33,0) 20%, rgba(29,32,33,1) 80%, rgba(29,32,33,1) 100%);
  background: -webkit-linear-gradient(top, rgba(29,32,33,0) 0%,rgba(29,32,33,0) 20%,rgba(29,32,33,1) 80%,rgba(29,32,33,1) 100%);
  background: linear-gradient(to bottom, rgba(29,32,33,0) 0%,rgba(29,32,33,0) 20%,rgba(29,32,33,1) 80%,rgba(29,32,33,1) 100%);
}

:local .scroller {
  height: 100%;
  overflow: scroll;
}

/* PORTRAIT */
/* ========================================================================== */
@media screen and (min-width: 40em) and (orientation: portrait) {
  :local .character {
    height: calc(100vh/3 - 6rem);
  }
  :local .imageContainer {
    padding: 0.5rem;
  }
  :local .topNotes {
    display: none;
  }
  :local .bottomNotes {
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  :local .nameAndStats {
    padding-top: 1rem;
  }
  :local .character  {
    font-size: 1.25em;
  }
}

/* Large and up */
@media screen and (min-width: 64em) and (orientation: portrait) {
  :local .imageContainer {
    padding: 1rem;
  }
  :local .bottomNotes {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  :local .nameAndStats {
    padding-top: 1.5rem;
  }
  :local .character  {
    font-size: 1.5em;
  }
}

/* LANDSCAPE */
/* ========================================================================== */
@media screen and (min-width: 40em) and (orientation: landscape) {
}

/* Large and up */
@media screen and (min-width: 64em) and (orientation: landscape) {
}
