@import '../App/settings';

:local .component {
  text-align: center;
}

:local .dashboardLink {
  display: inline-block;
  margin: 1rem;
  width: 20rem;
  padding: 2rem;
  font-size: 2rem;
  color: $medium-gray;
  font-family: 'ZCOOL XiaoWei', serif;
  background-color: rgb(17,17,17);
  margin: 2rem;
  max-width: 75%;
}

:local .dashboardLink:hover {
  background-color: rgb(30,30,30);
}
